.home{
    width: 100% !important;
}
.home-bg{
    background: url("./Rectangle1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.layer {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-section{
    margin: 150px auto 0px auto;
    width: 100%;
    padding-bottom: 200px;
}

.booking{
    color: white;
}

.booking h1,p{
    margin-bottom:20px;
}

.book-btn{
    border: none;
    height: 35px;
    width: 100px;
    color: black;
    background-color: #ffc107;
    border-radius: 5px;
}

.bg-1{
    background-image: url("./sundorbon.png");
}
.bg-2{
    background-image: url("./Sajek.png");
}
.bg-3{
    background-image: url("./Sreemongol.png");
}

.single-travel-place{
    height: 350px;
    width: 210px;
    margin-right: 10px;
    border: 5px solid yellow;
    border-radius: 50px;
    padding: 15px;
}
.single-travel-place h2{
    text-align: center;
    position: relative;
    top: 230px;
    color: white;
}